.select {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectTitle {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;

    color: white;
    background-color: #1ea7fd;
    cursor: pointer;
}

.selectMenu {
    padding: 10px;

    list-style: none;

    color: white;
    background-color: brown;
    cursor: pointer;
}

.selectMenuTitleItem {
    width: 100%;

    text-align: center;
}


.selectMenuTitleItem:hover {
    background-color: #333333;
}
